
.App {
  padding: 5vw;
}

.time {
  font-size: 5.5vw;
  border: 1px solid #e4e4e4;
  width: fit-content;
  margin: 20px auto;
  background: #cccccc;
  color: #2e2e2e;
  white-space: nowrap;
}

.control-button {
  padding: .3em;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  margin: 1px auto;
  outline: 0;
}

.row {
  display: flex;
}

.stopwatch {
  margin: 0 auto;
  text-align: center;
}